<header id="community-jumbo" class="jumbotron hero-spacer">
    <h2>Community Portal</h2>
    <p>The following connectors have been written by the Tableau Community and made available to use.  If you write a connector, <a href="{{ site.baseurl }}/docs/wdc_hosting_and_submissions">please contribute!</a></p>
    <p><b>Important:</b> These connectors are not written by or supported by Tableau (with the exception of the dev samples).  If you encounter an issue with one of the connectors here, please reach out to the developer.</p>
</header>
<div class="row">
    <div id="grid" data-columns>
        <!-- dynamically loaded from community/community_connectors.json -->
    </div>
</div>

<!-- These need to stay here after the columns div -->
<script src="{{ site.baseurl }}/js/salvattore.min.js"></script>
<script src="{{ site.baseurl }}/js/community_connectors.js"></script>
