<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs">Get Started</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_tutorial">Tutorial</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_use_in_tableau">Use a WDC in Tableau Desktop</a>
        </li>
		<li>
            <a href="{{ site.baseurl }}/docs/wdc_use_in_server">Use a WDC in Tableau Server</a>
        </li>

        <li class="nav-header">Basic Concepts</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_phases">Lifecycle and Phases</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_library_versions">API Versions</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_samples">Samples</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_debugging">Debugging in the Simulator and Tableau</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_hosting_and_submissions">Hosting and Submitting to Community Portal</a>
        </li>

        <li class="nav-header">Advanced Concepts</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_multi_table_tutorial">Multiple Tables Tutorial</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_standard_connections">Standard Connections</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_join_filtering">Join Filtering</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_custom_init_and_shutdown">Custom Initialization and Shutdown</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_incremental_refresh">Incremental Refresh</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_authentication">Authentication</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_cors">Working with CORS</a>
        </li>

        <li class="nav-header">Reference</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_resources">Resources</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_ref_date_formats">Supported Date Formats</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_faq">FAQ</a>
        </li>
		<li>
		    <a href="{{ site.baseurl }}/docs/wdc_upgrade">Upgrading from WDC Version 1.x</a>
		</li>
    </ul>
</div>
