<html class="minimal no-js">
<body>
<nav class="tsd-navigation secondary">
	<ul>
		<li>
			<h5>Version 2.0</h5>
			<ul>
				<li class="tsd-kind-property tsd-parent-kind-class">
					<a href="{{ site.baseurl }}/whats_new#get_data" class="tsd-kind-icon">Breaking changes to get data API</a>
				</li>
                <li class="tsd-kind-property tsd-parent-kind-class">
					<a href="{{ site.baseurl }}/whats_new#multitable" class="tsd-kind-icon">Support for multiple tables</a>
				</li>
				<li class="tsd-kind-property tsd-parent-kind-class">
					<a href="{{ site.baseurl }}/whats_new#new_simulator" class="tsd-kind-icon">New simulator</a>
				</li>
            </ul>
        </li>
    <ul>
</nav>
<div class="content-wrap docs-content-wrap">
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>
<script src="{{ site.baseurl }}/js/api_ref.min.js"></script>
<script src="{{ site.baseurl }}/js/extra.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html> 
