/* Custom CSS for home page */ 
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
} 

/* Custom CSS for docs page */ 
.docs
{
    max-width: 850px;
    width: 100%;
    float: right;
}

.docs-content-wrap > h1 {
    margin-top: 32px;
}

.docs-content-wrap h4 {
    margin-top: 32px;
}

.blog-content-wrap {
    margin-top: 20px;
    padding-top: 40px;
}

/* Custom CSS for header and footer */ 
.site-header
{
    width: 100%;
    padding: 24px 0px;
}

img.logo
{
    height: 28px;
    margin-left: -18px;
}

.icon > svg
{
    display: inline-block;
    width: 28px;
    height: 28px;
}

.icon > svg path 
{
    fill: #333333;
}

.thumbnail > a > img {
    max-width: 160px;
    padding: 10px;
}

.tableauIcon {
    margin-left: 18px;
}

footer {
    margin: 30px 0;
    margin-top: 100px;
}

/* Media queries for responsive design */
@media screen and (min-width: 1px) and (max-width: 480px){
    #columns[data-columns]::before {
    content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 481px) and (max-width: 767px){
    #columns[data-columns]::before {
    content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #columns[data-columns]::before {
    content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #columns[data-columns]::before {
    content: '4 .col-md-3';
    }
}

/* So the scroll bar width doesn't cause the page to jump */
html {
    overflow-y: scroll;
}

.label {
    margin-right: 3px;
}

/* to get right navbar icons to respect collapse */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


/* Custom css for news section */
.blog-content > h4 {
    margin-top: 20px;
}

.blog-content > ol {
    margin-bottom: 20px;
}