/* Custom CSS for home page*/ 
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
} 

/* Custom CSS for docs page*/ 
.docs
{
    max-width: 850px;
    width: 100%;
    float: right;
}

.side-menu
{
    border: 1px solid #cccccc;
    margin-top: 24px;
    width: 260px;
}

.side-menu > ul
{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.side-menu > ul > li
{
    padding-bottom: 0.7em;
}

.side-menu > ul > li > a
{
    line-height: 150%;
    text-decoration: none;
    color: #555555;
    font-weight: bold;
}

.side-menu > ul > li > a:hover
{
    text-decoration: underline;
    color: #555555;
}

/* Custom CSS for header and footer*/ 
.site-header
{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 24px 0px;
}

img.logo
{
    height: 28px;
    margin-left: -18px;
}

.icon > svg
{
    display: inline-block;
    width: 28px;
    height: 28px;
    float: right;
}

.icon > svg path 
{
    fill: #333333;
}


footer {
    margin: 30px 0;
}

hr {
    margin-top: 100px;
}

@media screen and (min-width: 1px) and (max-width: 480px){
    #columns[data-columns]::before {
    content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 481px) and (max-width: 767px){
    #columns[data-columns]::before {
    content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #columns[data-columns]::before {
    content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #columns[data-columns]::before {
    content: '4 .col-md-3';
    }
}

.thumbnail > a > img {
    max-width: 160px;
    padding: 10px;
}

