/* Custom CSS for home page */ 
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
} 

/* Custom CSS for docs page */ 
.docs
{
    max-width: 850px;
    width: 100%;
    float: right;
}

.docs-content-wrap {
    margin-top: 34px;
}

/* Custom CSS for header and footer */ 
.site-header
{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 24px 0px;
}

img.logo
{
    height: 28px;
    margin-left: -18px;
}

.icon > svg
{
    display: inline-block;
    width: 28px;
    height: 28px;
}

.icon > svg path 
{
    fill: #333333;
}

.thumbnail > a > img {
    max-width: 160px;
    padding: 10px;
}

.tableauIcon {
    margin-left: 18px;
}

footer {
    margin: 30px 0;
}

hr {
    margin-top: 100px;
}

/* Media queries for responsive design */
@media screen and (min-width: 1px) and (max-width: 480px){
    #columns[data-columns]::before {
    content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 481px) and (max-width: 767px){
    #columns[data-columns]::before {
    content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #columns[data-columns]::before {
    content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #columns[data-columns]::before {
    content: '4 .col-md-3';
    }
}

/* So the scroll bar width doesn't cause the page to jump */
html {
    overflow-y: scroll;
}