<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
        {% include header.html %}
        {% if page.base == "ref" %}
            {% include api_ref.html %}
        {% elsif page.base == "docs" %}
            {% include docs_home.html %}
        {% elsif page.base == "whats_new" %}
            {% include versions.html %}
        {% elsif page.base == "news" %}
            <ul class="blogul">
            {% for post in site.posts %}
                    <div class="row">
                        <h1>{{ post.title }}</h1>
                        <hr>  
                        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date: "%-d %B %Y" }}</p>
                        <hr>
                        <p class="lead">
                            {{ post.abstract }}
                        </p>
                        {% if post.photoname %}
                            <img class="img-responsive" src="{{ site.baseurl }}/assets/{{ post.photoname}}" alt="">
                        {% endif %}
                        <hr>
                        <div class="blog-content">
                            {{ post.content }}
                        </div>                       
                    </div>
                {% endfor %}
            </ul>
        {% elsif page.base == "community" %}
            {% include community_connectors.html %}
        {% else %}
            {% include front_page.html %}
        {% endif %}
        {% if page.base != "ref" and page.base != "docs" %} 
            {% include footer.html %}
        {% endif %}
    </div> 
  </body>
</html>
