---
layout: docs
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include docs_menu.html %}

        <div class="content .col-xs-12 .col-sm-8 .col-md-9">
            <h1>{{ page.title }}</h1>
            <div class="alert alert-info"><p><strong>Deprected</strong>: This repository will be removed with the Tableau 26.3 release.</p>

            <p>The Web Data Connector 2.x framework is deprecated. Migrate to the [REST API Connector on Tableau Exchange](https://exchange.tableau.com/products/1111) — built by Tableau, supports JSON and CSV over HTTP GET, Basic/Bearer/OAuth authentication, and runs on Tableau 2023.3 and later. Note: this connector is extract-only and requires a JDBC driver installation.</a>.</p>
            </div>
            <div class="edit-container">
                <a href="https://github.com/tableau/webdataconnector/edit/master/{{ page.path }}" class="edit-links"><span class="glyphicon glyphicon-pencil"></span> Edit this page</a>
                &nbsp;
                <a href="https://github.com/tableau/webdataconnector/issues" class="edit-links"><span class="glyphicon glyphicon-flag"></span> Submit an issue</a>
            </div>
            <br />
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
</body>

</html>
