---
layout: docs
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include docs_menu.html %}

        <div class="content .col-xs-12 .col-sm-8 .col-md-9">
            <h1>{{ page.title }}</h1>
            <div class="alert alert-info"><p><strong>Important</strong>: Tableau Web Data Connector 2.0 (this version) is being deprecated at Tableau 2023.1 and eventually retired. We will still support WDC 2.0 until its last compatible version of Tableau (Tableau 2022.4) goes End of Life and is no longer supported.</p>

            <p>For information about Tableau Web Data Connector 3.0, see the <a href="https://help.tableau.com/current/api/webdataconnector/en-us/index.html">WDC 3.0 documentation</a>.</p>
            </div>
            <div class="edit-container">
                <a href="https://github.com/tableau/webdataconnector/edit/master/{{ page.path }}" class="edit-links"><span class="glyphicon glyphicon-pencil"></span> Edit this page</a>
                &nbsp;
                <a href="https://github.com/tableau/webdataconnector/issues" class="edit-links"><span class="glyphicon glyphicon-flag"></span> Submit an issue</a>
            </div>
            <br />
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
</body>

</html>
